<%= title "Change Your Password" %>
<%= form_for @user, builder: FoundationFormBuilder, url: password_reset_path(@user.password_reset_token), html: { method: :patch } do |form| %>

  <%= form.password_field :password %>
  <%= form.password_field :password_confirmation %>
  <%= form.submit "Change Password" %>
  
<% end %>