<%= content_for(:title) do %><%= @todo_list.title %> | <% end %>
<div class="row collapse todo-list-title">
  <div class="small-11 columns">
    <h2 class="page-title truncate"><%= @todo_list.title %></h2>
  </div>
  <div class="small-1 columns">
    <span class="fa fa-caret-down fa-lg"></span>
  </div>
</div>

<div class="row hide" id="todo-list-functions">
  <div class="small-4 columns">
    <%= link_to edit_todo_list_path(@todo_list), 
        class: "button expand radius outline" do %>
      <span class="fa fa-edit"></span>
      Edit
    <% end %>
  </div>
  <div class="small-4 columns">
    <%= link_to edit_todo_list_path(@todo_list), 
        class: "button expand radius outline", 
        data: { "reveal-id" => "email-modal" } do %>
      <span class="fa fa-envelope-o"></span>
      Email
    <% end %>
  </div>
  <div class="small-4 columns">
    <%= link_to todo_list_path(@todo_list), 
        class: "button expand radius outline alert", 
        method: :delete, 
        data: { confirm: "Are you sure you want to delete this list? There is no undo." } do %>
      <span class="fa fa-trash"></span>
      Delete
    <% end %>
  </div>
</div>
<% if @todo_list.todo_items.size > 0 %>
  <ul class="list todo-items no-bullet">
    <%= render partial: 'todo_item', collection: @todo_list.todo_items %>
  </ul>
<% else %>
  <%= render partial: 'blank_slate' %>
<% end %>

<div id="email-modal" class="reveal-modal tiny" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <%= form_tag email_todo_list_path(@todo_list), method: :put do %>
    <%= label_tag :destination, "What email address would you like to send this to?" %>
    <%= text_field_tag :destination %>
    <br />
    <%= submit_tag "Send List", class: "button radius medium expand submit" %>
  <% end %>
</div>