<%= title "Account Settings" %>

<%= form_for(@user, builder: FoundationFormBuilder) do |f| %>
  
  <fieldset>
    <legend>About You</legend>
    <%= f.text_field :first_name, autofocus: 'autofocus' %>
    <%= f.text_field :last_name %>
    <%= f.email_field :email %>
  </fieldset>
  
  <fieldset>
    <legend>Change Your Password</legend>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
  </fieldset>
  
    <%= f.submit "Save", class: "button radius expand" %>
<% end %>