<%= title "Sign In" %>

<%= form_tag user_sessions_path do %>
  <div class="row">
    <div class="small-12 columns">
      <%= label_tag :email, "Email Address" %>
    </div>
  </div>
      
  <div class="row">
    <div class="small-12 columns">
      <%= text_field_tag :email, params[:email] %>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 columns">
      <%= label_tag :password, "Password" %>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 columns">    
      <%= password_field_tag :password %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns"> 
      <%= check_box_tag :remember_me %>
      <%= label_tag :remember_me, "Remember Me?" %>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 columns"> 
      <%= submit_tag "Sign In", class: "button radius expand" %>
    </div>
  </div>
  <div class="row">
    <%= link_to "Forgot Password", new_password_reset_path, class: "small-6 columns text-left" %>
    <%= link_to "Sign Up", new_user_path, class: "small-6 columns text-right" %>
  </div>
<% end %>
