<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %>Odot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |type, message| %>
    <div class="flash alert-box text-center <%= type %>">
      <%= message %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <header class="row global-header">
    <div class="small-12 small-centered medium-8 medium-centered large-5 large-centered columns">
      <% if logged_in? %>
        <%= render partial: 'layouts/header_logged_in' %>
      <% else %>
        <%= render partial: 'layouts/header_logged_out' %>
      <% end %>
    </div>
  </header>

  <div class="row collapse">
    <div class="small-12 small-centered medium-8 medium-centered large-5 large-centered columns">
      <%= yield %>
    </div>
  </div>

  <footer class="row global-footer">
    <div class="small-12 small-centered medium-8 medium-centered large-5 large-centered columns text-center">
      <% if logged_in? %>
        <%= link_to "Settings", edit_user_path(current_user) %>
      <% end %>
    </div>
  </footer>

</body>
</html>